<h2>Changelog</h2>
<h3>v1.0.0-alpha.5.1</h3>
<ul>
<li>Updated Changelog.</li>
<li>Changed `Print hello` to `Trick or treat` Easter Egg.</li>
<li>`Define primitive` now tags JIT Errors with their source and prints to stderr.</li>
<li>Bugfix: `traverse_depth_postorder` traverse hidden flag has been corrected to BIT(0).</li>
</ul>
<h3>v1.0.0-alpha.5</h3>
<ul>
<li>Implemented Gitlab Enterprise Business Integration™️.</li>
<li>Implemented JIT With Confidence Enterprise Error Handling™️.</li>
<li>A copy of the Changelog is now included with the source.</li>
<li>Added a `CONTRIBUTING.md` file.</li>
<li>Added a `README.md` file.</li>
<li>Documented JIT design in a `jit.md` file.</li>
<li>`Unknown` type now uses type-id 0.</li>
<li>`Define primitive` now writes error information to the source reference node if JITting failed.</li>
<li>Syntax Change: Offsets &mdash; .XXXXXXXX where X is a hex digit (Two's-complement 32-bit).</li>
<li>Syntax Change: Symbols &mdash; :XXXXXXXXsymbol (Two's complement 32-bit length-prefix).</li>
</ul>
<h3>v1.0.0-alpha.4</h3>
<ul>
<li>Implemented Lean &amp; Mean; Go Green!™️ Object Pools.</li>
<li>Types use ids again but now with string interning too.</li>
<li>Added `type_intern` and `type_string` procedures.</li>
<li>`N_dentry` and `N_inode` structures have changed to fit the new Lean &amp; Mean; Go Green!™️ Object Pool system.</li>
<li>`PLT_object_put` has replaced `PLT_dentry_put` and `PLT_inode_put`.</li>
<li>`PLT_object_put` fixes a bug in dentry/inode recycling.</li>
</ul>
<h3>v1.0.0-alpha.3</h3>
<ul>
<li>Implemented Tree Hidden in the Forest Technique™️ for Maximum Stealth™️.</li>
<li>Licensed code as CC-BY-NC-ND-4.0.</li>
<li>Cited sources in nee_san.c.</li>
<li>Changed `proc` from `static` to `__attribute__((__noinline__))`</li>
<li>"Directory" style dentries no longer have associated inodes.</li>
<li>Tags are now implemented as children in a hidden tags directory.</li>
<li>Labels and types now use string interning.</li>
<li>Symbol resolution failure has been relaxed to do a rollback.</li>
<li>`stack_put_` and `iterator_next_` are now procs and have been renamed `stack_put` and `iterator_next` respectively.</li>
<li>Added proc `str_intern`.</li>
<li>`traverse_depth_postorder` no longer manages its own stack and takes stack and flag arguments.</li>
<li>`traverse_depth_postorder` now skips searching hidden nodes unless BIT(1) is set in `flags`.</li>
</ul>
<h3>v1.0.0-alpha.2.2</h3>
<ul>
<li>Fixed a critical bug causing a segfault when trying to traverse a node with more than 4 children.</li>
<li>Added a `traverse_depth_postorder` procedure.</li>
<li>Removed Service Pack 1 Easter-egg.</li>
</ul>
<h3>v1.0.0-alpha.2.1</h3>
<ul>
<li>Removed flag `HAS_UNRESOLVED_CHILDREN`.</li>
<li>Renamed `mktag` to `tag_put`.</li>
<li>Removed `PLT_jit_init` (this is now done in `PLT_init`).</li>
<li>Moved init things into a new `PLT_init` procedure.</li>
<li>Removed `Primitive source` type as it is that baka Ototo-kun®️'s responsibility to remember what he defined.</li>
<li>Rewrote `transform` to use an iterative DFS with dynamically allocated stack for trees that are So Deep™️.</li>
<li>Added an explicit root node (labeled `/`) to the Disruptive Node Representation Inspired by Linux Filesystems™️.</li>
<li>Types are now optional in the Metadesk-based Enterprise-Grade Big Data On-Premise Storage Solution™️. </li>
<li>Dentries now use `Parent` instead of `Children` for defining the tree structure in the Metadesk-based Enterprise-Grade Big Data On-Premise Storage Solution™️.</li>
<li>Easter-egg: Ototo-kun®️ has a stub left in from testing that I forgot to remove.</li>
</ul>
<h3>v1.0.0-alpha.2</h3>
<ul>
<li>Renamed `jit_begin`, `jit_end`, and `jit` to `PLT_jit_begin`, `PLT_jit_end`, and `PLT_jit` respectively.</li>
<li>Implemented Metadesk-based Enterprise-Grade Big Data On-Premise Storage Solution™️.</li>
<li>Implemented Disruptive Node Representation Inspired by Linux Filesystems™️.</li>
<li>Implemented Content Is King Transformations™️.</li>
<li>Implemented Ototo-kun®️ to Bootstrap a Better Tomorrow™️.</li>
</ul>
